<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Cantidad</th>
          <th>Código</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of ventaService.ventaProductos">
          <td>{{ producto.cantidad }}</td>
          <td>{{ producto.codigo }}</td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio | currency }}</td>
          <td>{{ producto.total | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="card">
    <div class="card-body">
        <div [class]="messageClass" [hidden]="isHidden">
            {{ message }}
        </div>
        <button class="btn btn-success" [disabled]="this.canFinishSale()" (click)="finalizarVenta()">
            Finalizar Venta
        </button>
    </div>
  </div>
  